body{
	font-family: "century gothic";
}
/*Header*/
.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}
.header{
	background-color: #43a047;
	*rgb(60, 185, 99)
}
.header .judul{
	height: 28px;
}
.ul1{
	display: inline-block;
	position: absolute;
	left: 60px;
}
.ul2{
	display: inline-block;
	position: absolute;
	right: 110px;
}
.header .judul li{
	display: inline-block;
	padding: 1px 7px;
}
.header .judul a{
	color: white;
	font-size: 13px;
	display: inline-block;
	text-decoration: none;
}
.header .judul a:hover{
	color: #cfd8dc;
	text-decoration: none;
}
.navbar{
	margin-bottom: 2px;
	box-shadow: 0 5px 10px -4px rgb(60, 185, 99);
	border-radius: 0px!important;
}
.nav-link{
	font-size: 1rem!important;
	color: rgb(47, 47, 47)!important;
}
.nav-link:hover{
	position: relative!important;
	top: 0!important;
	bottom: 0!important;
	background-color: rgb(249, 249, 249);
}
.li-produk{
	color: white!important;
	background-color: rgb(60, 185, 99)!important;
}
.nav-link:hover{
	background-color: rgb();
}
.navbar-brand{
	color: rgb(47, 47, 47)!important;
	margin-left: 150px!important;
}
#navigasi .container{
	position: relative;
}
.sign{
	margin-top: 4px;
	padding: 2px 1px;
	width: 5rem;
	margin-left: 2px;
	background-color: rgb(60, 185, 99);
}
/*Carousel*/

.carousel-caption h3{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}
.carousel .carousel-item img{
	width: 100%;
	height: 530px;
}

/*Galleri*/

hr{
	width: 430px;
	background-color: rgb(149, 165, 166);
	border-style: solid;
}
.produk .row{
	margin-top: 4px;
}
.produk h4{
	padding-bottom: 1px;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}
.produk img{
	height: 180px;
}
.product .card{
	margin: 0 auto!important;
}
.produk .card-body{
	background-color: rgb(255,255,255);
}
.card-body a{
	text-align: center;
}
.produk {
	padding-top: 5px;
	padding-bottom: 30px;
	/*box-shadow: 0 8px 14px -4px rgb(60, 185, 99);
	border-radius: 0px!important;*/
}
.rincian{
	position: relative;
	left: 90%;
	text-align: center;
	font-size: 17px;
	color: rgb(54, 57, 72);
}
.rincian:hover{
	text-decoration: none;
	color: rgb(60,185,99);
}
/*About*/
.about{
	background-color: rgb(249, 249, 249);
	padding-top: 5px;
	padding-bottom: 40px;
	border-bottom: solid;
	border-top: solid;
	border-color: rgb(247, 247, 247);
}
.about h5{
	padding-top: 20px;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}
.about .card{
	padding-top: 7px;
}
.about .card-body p{
	font-size: 12px;
}
/*Hubungi Kami*/
.contact p,span{
	font-size: 13px;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}
/*footer*/
footer{
	background-color: rgb(54, 57, 72);
	/*)*/
	padding-top: 5px;
}